.flag-app {
  text-align: center;
  position: relative;
  background-image:url("https://previews.123rf.com/images/michal812/michal8121801/michal812180100033/94534597-world-trade-organization-member-countries-flags-on-world-map-with-national-borders.jpg"); 
  background-repeat: no-repeat;
  position: fixed;
  /*background-position: center;*/
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  background-size: cover;
  background-color: #80a3db;
}
.title-header {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-end;
}

.title-text {
  font-size: 3.5em;
  color: #fffaf0;
  text-transform:uppercase;
  text-shadow: 3px 3px 4px black;
}

@media (max-width: 450px) {
  .title-header {
    height: 14vh;
  }

  .title-text {
    font-size: 2.1em;
  }
}