.flag-form {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 1.3em;
  font-weight: 700;
  border:2px solid white;
  opacity:1;
  background-color: white;
}